# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

numpy==1.16.4
tensorflow==2.3.1
keras==2.2.4
skimage==3.0.3
scipy==1.2.1
sklearn==0.21.2
pickle